p
{
    display: inline-block;
    font-family: sans-serif;
}

input
{
    width: 200px;
    float: right;
    margin-top: 15px;
    margin-right: 20px;
}

.form
{
    border-style: solid;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 20%;
}

.firstName, .lastName, .emailAddress, .button
{
    text-align: center;
}